name: Build LaTeX
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: talk.tex
          latexmk_use_lualatex: true
          texlive_version: 2023
      - name: Commit PDF
        run: |
          git config --local user.email "commit.action@github.com"
          git config --local user.name "GitHub Commit Action"
          git add -f talk.pdf
          git commit -m "Updated talk.pdf"
      - name: Push PDF
        uses: ad-m/github-push-action@master
        with:
          branch: "build"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
